fieldset{
 height: 80%;
 }

form{
 width: 280px;
 height: 285px;
 position: relative;
 }

#radios{
 float: left;
 }
 
#years{
 float: right;
 }
 
#button{
 position: absolute;
 bottom: 45;
 }
 
#simOutput{
 width: 280px;
 height: 285px;
 position: absolute;
 left: 350px;
 top: 8px; 	
 }
